light_border = solid #ccc 1px
dark_border  = solid #333 1px

centered-div()
  margin-left: auto
  margin-right: auto

*
  box-sizing: border-box

body
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

#container
  width: 600px
  centered-div()

.chat
  #transcript
    width: 100%
    border: dark_border
    margin-bottom: 10px
    table
      width: 100%
      tr
        th, td
          padding: 5px
          border-top: light_border
        th
          width: 100px
  
        &:first-child
          th, td
            border-top: 0px
  
        &.joined
          td
            font-size: 14px
            font-style: italic
            color: #888
  
        &.message
          th
            text-align: right
            vertical-align: top

  input[type=text]
    width: 400px
